* {
    box-sizing: border-box;
}
img {
    vertical-align: middle;
}
.content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper-container {
  height: 100vh;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

@media screen and (max-width:767px){
    .overlay {
        width: 100%;
        background-color: rgba(255, 0, 0, 0.7);
      }
}

@media screen and (min-width:768px){
    .overlay {
        width: 100%;
        background-color: rgba(255, 0, 0, 0.1);
      }
}

.overlay-content {
  text-align: center;
  margin-top: 30px;
}

hr {
    width: 40%;
    height: 1px;
    background-color: white;
}
ul li a:hover{
  background-color: rgba(0,0,0, 0.2);    
}
.navbar{
    z-index: 1000;
}
.content{
    z-index: 10;
    background-color: rgba(255, 0, 0, 0.1);
}

.content h1 {
    color: rgb(255, 255, 255);
}

.content p {
    color: rgb(255, 255, 255);
    font-size: 40px;
}