@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

img {
  vertical-align: middle;
}

.content {
  bottom: 0;
  z-index: 10;
  background-color: #ce272f;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

html,
body {
  position: relative;
  height: 100%;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
}
.navbar {
  z-index: 1000;
  background-color: #ce272f;
}

.nav-link {
  font-size: smaller;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1px;
  margin-top: 3px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}
.navbar-brand{
  margin-left: 75px;
}
.logo img {
  position: absolute;
  margin-top: -5px;
  width: 70px;
}
.logo:hover {
  transform: scale(1.1);
}
.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    border-radius:10vh;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}

.swiper-button-next:hover {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.164);
  transform: scale(1.1);
}
.swiper-button-prev:hover {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.164);
  transform: scale(1.1);
}
img {
  vertical-align: middle;
}

.content {
  bottom: 0;
  z-index: 10;
  background-color:#ce272f;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
#content-landscape h1 {
  color: rgb(255, 255, 255);
  font-size: calc((25vw - 3.5rem) / 7);
}

#content-landscape p {
  color: rgb(255, 255, 255);
  font-size: calc((20vw - 3.5rem) / 7);
}

#content-potrait h1 {
  font-size: 5vw;
}

#content-potrait p {
  font-size: 4vw;
}
.section-title{
  border-bottom: 3px solid #ce272f;
  width: 20%;
  margin: auto;
  padding-bottom: 7px;
}
.card-barang {
  border-radius: 10px;
  box-shadow:
    0 1.8px 1.2px 1.8px rgba(0, 0, 0, 0.034),
    0 3.7px 2.3px 3.7px rgba(0, 0, 0, 0.048),
    0 6.5px 5px 5px rgba(0, 0, 0, 0.06),
    0 5.3px 9.9px rgba(0, 0, 0, 0.072),
    0 10.8px 7.4px rgba(0, 0, 0, 0.086),
    0 10px 10px rgba(0, 0, 0, 0.12);
}

.card-barang:hover {
  transform: scale(1.1);
}

.fab {
  display: inline-block;
}
footer{
  background-color: #ce272f;
}

@media screen and (max-width:767px) {
  .overlay {
    width: 100%;
    background-color: #ce272f;
  }
  .logo img {
    position: absolute;
    margin-top: -5px;
    width: 60px;
  }
  .section-title{
    border-bottom: 3px solid #ce272f;
    width: 50%;
    margin: auto;
    padding-bottom: 7px;
  }
  .nav-link {
    text-align: center;
  }
}

@media screen and (min-width:768px) {
  .overlay {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.1);
  }

  .content {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.3);
  }

  .swiper-container {
    height: 100vh;
  }
}