@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

img {
  vertical-align: middle;
}

.content {
  bottom: 0;
  z-index: 10;
  background-color: #dc3545;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

html,
body {
  position: relative;
  height: 100%;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

@media screen and (max-width:767px) {
  .overlay {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.7);
  }
}

@media screen and (min-width:768px) {
  .overlay {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.1);
  }

  .content {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.3);
    height: 20vh;
  }

  .swiper-container {
    height: 100vh;
  }
}

.overlay-content {
  text-align: center;
  margin-top: 30px;
}

hr {
  width: 40%;
  height: 1px;
  background-color: white;
}

ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar {
  z-index: 1000;
}

#content-landscape h1 {
  color: rgb(255, 255, 255);
  font-size: calc((25vw - 3.5rem) / 7);
}

#content-landscape p {
  color: rgb(255, 255, 255);
  font-size: calc((20vw - 3.5rem) / 7);
}

#content-potrait h1 {
  font-size: 5vw;
}

#content-potrait p {
  font-size: 4vw;
}

.card-landscape {
  border-radius: 10px;
}

.card-landscape:hover {
  box-shadow:
    0 1.8px 1.2px rgba(0, 0, 0, 0.034),
    0 3.7px 2.3px rgba(0, 0, 0, 0.048),
    0 6.5px 5px rgba(0, 0, 0, 0.06),
    0 5.3px 9.9px rgba(0, 0, 0, 0.072),
    0 10.8px 7.4px rgba(0, 0, 0, 0.086),
    0 10px 10px rgba(0, 0, 0, 0.12);
}